<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/" class="">Página de Nicole</a></h1>
        </div>
        <div>
            <h2><a href="/" class="">Super pagina</a></h2>
        </div>

        <div>
    {{ posts}}        
    {% for post in publicaciones %}
    <div>
        <div class="alert alert-success" role="alert">
        <p> publicado: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p></div>
  
    </div>
    {% endfor %}

        
    </body>
</html>